<a href="https://colab.research.google.com/github/Vishlok/QUANTITATIVE-TRADING-/blob/master/DATAFRAMES_INTRO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
labels = ['a','b','c','d','e']
my_list = [10,20,30,40,50]
arr = np.array([100,200,300,400,500])
d = {'a':10,'b':20,'c':300,'d':400,'e':50}

In [0]:
series1 = pd.Series(my_list)
print(series[1])
print(series[0])
print(series[3])
print(series[4])

20
10
40
50

In [0]:
series2 = pd.Series(my_list,index = labels)
print(series2)
print(series2['a'])
print(series2['b'])
print(series2['c'])
print(series2['d'])

a    10
b    20
c    30
d    40
e    50
dtype: int64
10
20
30
40

In [0]:
series3 = pd.Series(arr,labels)
print(series3)
print(series3['a'])
print(series3['b'])
print(series3['c'])
print(series3['d'])

a    100
b    200
c    300
d    400
e    500
dtype: int64
100
200
300
400

In [0]:
series4 = pd.Series(d)
print(series4)
#print(series4['a'])
print(series4['b'])
#print(series4['c'])
#print(series4['d'])

a     10
b     20
c    300
d    400
e     50
dtype: int64
20

In [0]:
series5 = pd.Series(data = labels)
print(series5)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [0]:
series5.values

array(['a', 'b', 'c', 'd', 'e'], dtype=object)

In [0]:
series.index

RangeIndex(start=0, stop=5, step=1)

In [0]:
ser1 = pd.Series([1,2,3,4],index = ['USA','CHINA','FRANCE','GERMANY'])
print(ser1)

USA        1
CHINA      2
FRANCE     3
GERMANY    4
dtype: int64

In [0]:
ser2 = pd.Series([1,2,3,4],index = ['USA','CHINA','ITALY','JAPAN'])
ser2

USA      1
CHINA    2
ITALY    3
JAPAN    4
dtype: int64

In [0]:
ser3 = ser1 + ser2
print(ser3)

CHINA      4.0
FRANCE     NaN
GERMANY    NaN
ITALY      NaN
JAPAN      NaN
USA        2.0
dtype: float64

NOW WE ARE GOING TO TALK DATAFRAMES

In [0]:
import pandas as pd

In [0]:
from numpy.random import randn

In [0]:
np.random.seed(101)

In [0]:
df = pd.DataFrame(randn(5,5),['A','B','C','D','E'],['W','X','Y','Z','ZZ'])
print(df)

          W         X         Y         Z        ZZ
A -0.156598 -0.031579  0.649826  2.154846 -0.610259
B -0.755325 -0.346419  0.147027 -0.479448  0.558769
C  1.024810 -0.925874  1.862864 -1.133817  0.610478
D  0.386030  2.084019 -0.376519  0.230336  0.681209
E  1.035125 -0.031160  1.939932 -1.005187 -0.741790

In [0]:
df['W']

A   -0.156598
B   -0.755325
C    1.024810
D    0.386030
E    1.035125
Name: W, dtype: float64

In [0]:
type(df['W'])

pandas.core.series.Series

In [0]:
type(df)

pandas.core.frame.DataFrame

In [0]:
print(df.W,'\n',df.X)

A   -0.156598
B   -0.755325
C    1.024810
D    0.386030
E    1.035125
Name: W, dtype: float64
 A   -0.031579
B   -0.346419
C   -0.925874
D    2.084019
E   -0.031160
Name: X, dtype: float64

In [0]:
df['X']

A   -0.031579
B   -0.346419
C   -0.925874
D    2.084019
E   -0.031160
Name: X, dtype: float64

In [0]:
df[['W','Z','ZZ']]

          W         Z        ZZ
A -0.156598  2.154846 -0.610259
B -0.755325 -0.479448  0.558769
C  1.024810 -1.133817  0.610478
D  0.386030  0.230336  0.681209
E  1.035125 -1.005187 -0.741790

In [0]:
df['Y']

A    0.649826
B    0.147027
C    1.862864
D   -0.376519
E    1.939932
Name: Y, dtype: float64

In [0]:
df['new'] = df['W'] + df['Y']
print(df['new'])
print(df)

A    0.493228
B   -0.608299
C    2.887674
D    0.009512
E    2.975057
Name: new, dtype: float64
          W         X         Y         Z        ZZ       new
A -0.156598 -0.031579  0.649826  2.154846 -0.610259  0.493228
B -0.755325 -0.346419  0.147027 -0.479448  0.558769 -0.608299
C  1.024810 -0.925874  1.862864 -1.133817  0.610478  2.887674
D  0.386030  2.084019 -0.376519  0.230336  0.681209  0.009512
E  1.035125 -0.031160  1.939932 -1.005187 -0.741790  2.975057

In [0]:
df

          W         X         Y         Z        ZZ       new
A -0.156598 -0.031579  0.649826  2.154846 -0.610259  0.493228
B -0.755325 -0.346419  0.147027 -0.479448  0.558769 -0.608299
C  1.024810 -0.925874  1.862864 -1.133817  0.610478  2.887674
D  0.386030  2.084019 -0.376519  0.230336  0.681209  0.009512
E  1.035125 -0.031160  1.939932 -1.005187 -0.741790  2.975057

In [0]:
df.drop('new',axis=1)

          W         X         Y         Z        ZZ
A -0.156598 -0.031579  0.649826  2.154846 -0.610259
B -0.755325 -0.346419  0.147027 -0.479448  0.558769
C  1.024810 -0.925874  1.862864 -1.133817  0.610478
D  0.386030  2.084019 -0.376519  0.230336  0.681209
E  1.035125 -0.031160  1.939932 -1.005187 -0.741790

In [0]:
df.drop('E',axis=0)

          W         X         Y         Z        ZZ       new
A -0.156598 -0.031579  0.649826  2.154846 -0.610259  0.493228
B -0.755325 -0.346419  0.147027 -0.479448  0.558769 -0.608299
C  1.024810 -0.925874  1.862864 -1.133817  0.610478  2.887674
D  0.386030  2.084019 -0.376519  0.230336  0.681209  0.009512

In [0]:
df

          W         X         Y         Z        ZZ       new
A -0.156598 -0.031579  0.649826  2.154846 -0.610259  0.493228
B -0.755325 -0.346419  0.147027 -0.479448  0.558769 -0.608299
C  1.024810 -0.925874  1.862864 -1.133817  0.610478  2.887674
D  0.386030  2.084019 -0.376519  0.230336  0.681209  0.009512
E  1.035125 -0.031160  1.939932 -1.005187 -0.741790  2.975057

In [0]:
df.drop('new',axis=1,inplace=True)

In [0]:
df

          W         X         Y         Z        ZZ
A -0.156598 -0.031579  0.649826  2.154846 -0.610259
B -0.755325 -0.346419  0.147027 -0.479448  0.558769
C  1.024810 -0.925874  1.862864 -1.133817  0.610478
D  0.386030  2.084019 -0.376519  0.230336  0.681209
E  1.035125 -0.031160  1.939932 -1.005187 -0.741790

In [0]:
df.drop('ZZ',axis=1,inplace=True)
df.shape

(5, 4)

In [0]:
df

          W         X         Y         Z
A -0.156598 -0.031579  0.649826  2.154846
B -0.755325 -0.346419  0.147027 -0.479448
C  1.024810 -0.925874  1.862864 -1.133817
D  0.386030  2.084019 -0.376519  0.230336
E  1.035125 -0.031160  1.939932 -1.005187

In [0]:
df[['W','X']]

          W         X
A -0.156598 -0.031579
B -0.755325 -0.346419
C  1.024810 -0.925874
D  0.386030  2.084019
E  1.035125 -0.031160

In [0]:
df.loc['A']

W   -0.156598
X   -0.031579
Y    0.649826
Z    2.154846
Name: A, dtype: float64

In [0]:
df.loc['C']

W    1.024810
X   -0.925874
Y    1.862864
Z   -1.133817
Name: C, dtype: float64

In [0]:
df.iloc[2]

W    1.024810
X   -0.925874
Y    1.862864
Z   -1.133817
Name: C, dtype: float64

In [0]:
df.iloc[2,2]

1.8628641384939535

In [0]:
df.loc[['B','D'],['X','Z']]

          X         Z
B -0.346419 -0.479448
D  2.084019  0.230336

In [0]:
df > 0

       W      X      Y      Z
A  False  False   True   True
B  False  False   True  False
C   True  False   True  False
D   True   True  False   True
E   True  False   True  False

In [0]:
booldf = df >0
booldf

       W      X      Y      Z
A  False  False   True   True
B  False  False   True  False
C   True  False   True  False
D   True   True  False   True
E   True  False   True  False

In [0]:
df[booldf]

          W         X         Y         Z
A       NaN       NaN  0.649826  2.154846
B       NaN       NaN  0.147027       NaN
C  1.024810       NaN  1.862864       NaN
D  0.386030  2.084019       NaN  0.230336
E  1.035125       NaN  1.939932       NaN

In [0]:
df[df>0]

          W         X         Y         Z
A       NaN       NaN  0.649826  2.154846
B       NaN       NaN  0.147027       NaN
C  1.024810       NaN  1.862864       NaN
D  0.386030  2.084019       NaN  0.230336
E  1.035125       NaN  1.939932       NaN

In [0]:
df['W']>0

A    False
B    False
C     True
D     True
E     True
Name: W, dtype: bool

In [0]:
df['W']

A   -0.156598
B   -0.755325
C    1.024810
D    0.386030
E    1.035125
Name: W, dtype: float64

In [0]:
df[df['W']>0]

          W         X         Y         Z
C  1.024810 -0.925874  1.862864 -1.133817
D  0.386030  2.084019 -0.376519  0.230336
E  1.035125 -0.031160  1.939932 -1.005187

In [0]:
df['Z']>0

A     True
B    False
C    False
D     True
E    False
Name: Z, dtype: bool

In [0]:
df[df['Z']>0]

          W         X         Y         Z
A -0.156598 -0.031579  0.649826  2.154846
D  0.386030  2.084019 -0.376519  0.230336

In [0]:
resultdf = df[df['Z']>0]
print(resultdf)

          W         X         Y         Z
A -0.156598 -0.031579  0.649826  2.154846
D  0.386030  2.084019 -0.376519  0.230336

In [0]:
resultdf['X']

A   -0.031579
D    2.084019
Name: X, dtype: float64

In [0]:
df[df['Z']>0]['X']

A   -0.031579
D    2.084019
Name: X, dtype: float64

In [0]:
df['W']>0

A    False
B    False
C     True
D     True
E     True
Name: W, dtype: bool

In [0]:
boolser = df['W']>0
result = df[boolser]
print(result)

          W         X         Y         Z
C  1.024810 -0.925874  1.862864 -1.133817
D  0.386030  2.084019 -0.376519  0.230336
E  1.035125 -0.031160  1.939932 -1.005187

In [0]:
df['W']>0

A    False
B    False
C     True
D     True
E     True
Name: W, dtype: bool

In [0]:
df['Y']>0

A     True
B     True
C     True
D    False
E     True
Name: Y, dtype: bool

In [0]:
df[(df['W']>0) & (df['Y']>0)]

  index         W         X         Y         Z
2     C  1.024810 -0.925874  1.862864 -1.133817
4     E  1.035125 -0.031160  1.939932 -1.005187

In [0]:
df = df.set_index([['A','B','C','D','E']])

In [0]:
df

  index         W         X         Y         Z
A     A -0.156598 -0.031579  0.649826  2.154846
B     B -0.755325 -0.346419  0.147027 -0.479448
C     C  1.024810 -0.925874  1.862864 -1.133817
D     D  0.386030  2.084019 -0.376519  0.230336
E     E  1.035125 -0.031160  1.939932 -1.005187

In [0]:
import numpy as np
import pandas as pd

In [0]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [0]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [0]:
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [0]:
df.loc['G1'].loc[2]

A    0.907969
B    0.503826
Name: 2, dtype: float64

In [0]:
df.index.names = ["Groups","Num"]

In [0]:
df

                   A         B
Groups Num
G1     1    2.706850  0.628133
       2    0.907969  0.503826
       3    0.651118 -0.319318
G2     1   -0.848077  0.605965
       2   -2.018168  0.740122
       3    0.528813 -0.589001

In [0]:
df.loc["G2"].loc[2]['B']

0.7401220570561068

In [0]:
df.loc["G1"]['B'].loc[3]

-0.31931804459303326

In [0]:
df.xs('G1')

            A         B
Num
1    2.706850  0.628133
2    0.907969  0.503826
3    0.651118 -0.319318

In [0]:
df.xs(2,level='Num')

               A         B
Groups
G1      0.907969  0.503826
G2     -2.018168  0.740122

In [0]:
df.xs(2,level='Num').loc['G1']

A    0.907969
B    0.503826
Name: G1, dtype: float64

In [0]:
df.xs(2,level='Num')['B']

Groups
G1    0.503826
G2    0.740122
Name: B, dtype: float64